* {
  margin: 0;
  padding: 0;
}

.footer {
  margin-top: auto;
  width: 100%;
  background: #122d52;
}

.footer_container {
  border-color: red;
  display: flex;
  flex-direction: column;
  justify-content: content;
  align-items: stretch;
  padding: 50px 350px;
  row-gap: 150px;
}

.contribution_container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.info_container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

table th,
td {
  color: white;
  font-family: "Open Sans", sans-serif;
}

table th {
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 15px;
}

table td {
  font-size: 15px;
  font-weight: 400;
}

.navigation {
  padding-right: 50px;
}

table td {
  padding: 10px 30px 15px 0px;
}

.social table td b {
  color: white;
  font-weight: 750;
  font-size: inherit;
}

.social table td {
  padding-right: 50px;
}
